<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
    <nav>
        <div class="company-name">
            <h2>MARKET</h2>
        </div>
        <div class="product-search">
            <input type="search" class="product-search" placeholder="Search For Product" name="search" id="search">
        </div>
        <div class="nav-links">
            <a href="/auth/sign-up" id="sign-up">Create-Acount</a>
            <a href="/auth/login" id="sign-in">Sign-in</a>
            <button type="button">MENU</button>
        </div>
    </nav>
    <main>
        <div class="login-selection">
            <div class="user active">
                <a href="/auth/sign-up">USER</a>
            </div>

             <div class="user ">
                <a href="/auth/seller-signUp">SELLER</a>
            </div>

             <div class="user">
                <a href="/auth/rider-signUp"> RIDER </a>
            </div>
        </div>
    <div class="login">
        <div class="login-image">

        </div>
       <div class="login-container">
        <h2>Sign Up As User</h2>
        <form action="" method="post">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="flash-message {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password1" required>

            <label for="Confirm password">Confirm Password</label>
            <input type="password" id="password" name="password2" required>


    <label for="states">Choose a state:</label>
    <select id="states" name="states">
        <option value="Abia">Abia</option>
        <option value="Adamawa">Adamawa</option>
        <option value="Akwa Ibom">Akwa Ibom</option>
        <option value="Anambra">Anambra</option>
        <option value="Bauchi">Bauchi</option>
        <option value="Bayelsa">Bayelsa</option>
        <option value="Benue">Benue</option>
        <option value="Borno">Borno</option>
        <option value="Cross River">Cross River</option>
        <option value="Delta">Delta</option>
        <option value="Ebonyi">Ebonyi</option>
        <option value="Edo">Edo</option>
        <option value="Ekiti">Ekiti</option>
        <option value="Enugu">Enugu</option>
        <option value="FCT (Federal Capital Territory)">FCT (Federal Capital Territory)</option>
        <option value="Gombe">Gombe</option>
        <option value="Imo">Imo</option>
        <option value="Jigawa">Jigawa</option>
        <option value="Kaduna">Kaduna</option>
        <option value="Kano">Kano</option>
        <option value="Katsina">Katsina</option>
        <option value="Kebbi">Kebbi</option>
        <option value="Kogi">Kogi</option>
        <option value="Kwara">Kwara</option>
        <option value="Lagos">Lagos</option>
        <option value="Nasarawa">Nasarawa</option>
        <option value="Niger">Niger</option>
        <option value="Ogun">Ogun</option>
        <option value="Ondo">Ondo</option>
        <option value="Osun">Osun</option>
        <option value="Oyo">Oyo</option>
        <option value="Plateau">Plateau</option>
        <option value="Rivers">Rivers</option>
        <option value="Sokoto">Sokoto</option>
        <option value="Taraba">Taraba</option>
        <option value="Yobe">Yobe</option>
        <option value="Zamfara">Zamfara</option>
    </select>



            <input type="submit" value="Sign-Up">
        </form>
    </div>
    </div>
</div>
    </main>
</body>
</html>