<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
    <nav>
        <div class="company-name">
            <h2>MARKET</h2>
        </div>
        <div class="product-search">
            <input type="search" class="product-search" placeholder="Search For Product" name="search" id="search">
        </div>
        <div class="nav-links">
            <a href="/auth/sign-up" id="sign-up">Create-Acount</a>
            <a href="/auth/login" id="sign-in">Sign-in</a>
            <button type="button">MENU</button>
        </div>
    </nav>
    <main>
        <div class="login-selection">
            <div class="user active">
                <a href="/auth/login">USER</a>
            </div>

             <div class="user ">
                <a href="/auth/seller-login">SELLER</a>
            </div>

             <div class="user">
                <a href="/auth/rider-login"> RIDER </a>
            </div>
        </div>
    <div class="login">
        <div class="login-image">

        </div>
       <div class="login-container">
        <h2>User's Login</h2>
        <form action="" method="post">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="flash-message {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
        </form>
    </div>
    </div>
</div>
    </main>
</body>
</html>