<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY MARKET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-page.css')}}">
</head>
<body>
    <nav>
        <div class="company-name">
            <h2 id="company-name">MARKET</h2>
        </div>
        <div class="product-search">
            <input type="search" class="product-search"   placeholder="Search For Product" name="search" id="search">
        </div>
        <div class="nav-links">
            <a href="/auth/sign-up" id="sign-up">Create-Acount</a>
            <a href="/auth/login" id="sign-in">Sign-in</a>
            <button type="button">MENU</button>
        </div>
    </nav>
   <main id="main">
    <div class="container-fluid">
        <div class="container-fluid-words">
            <p><h2>Smart Strategies to Reduce Transportation Costs While Grocery Shopping</h2></p>
            <p>
                Get Ready to Save Big on Groceries and Transportation! Discover Awesome 
                Tips to Trim Your Grocery Bills and Cut Down on Transportation Costs, All While Enjoying Exclusive Discounts and Insights on Our Website
                 –<span> Your Ultimate Shopping Companion!</span>
            </p>
        </div>
    </div>
   </main>
   <section id="section">
    <h2 class="grocery-header">Discover Our Wide Range of Categories</h2>
    
 
   <script src="{{ url_for('static',filename='js/landing.js')}}"></script>
</body>
</html>